@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card">
                    <div class="card-header">
                        <h3>Claim Request System</h3>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="card-body">
                        <form>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            </div>
                            <div class="input-group form-group">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control",@placeholder ="Password" })
                            </div>
                            <div class="input-group form-group">
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                           
                            <div class="form-group text-center">
                                <input type="submit" value="Login" class="btn login_btn">
                            </div>
                        </form>
                    </div>
                </div>
            }
        </section>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}